<h1 class="text-center font-weight-bold"></h1>
<!-- ʂƂȂƂŕ -->
<% if @movies.any?%>
<div class="search-results">
    <% @movies.each do |movie| %>
      <div class="search-info">
      <%= movie.name%>
      </div>
    <%end%>
</div>
<%else%>
    <h1>Ȃ</h1>
<%end%>