body {
background-color:#333366
  

} 

h1{
  color: #FF0033
  
}
h2{
  color: #FFFFFF
}
h3{
  color: #FFFFFF
}

h4{
  color: #FFFFFF
}

h5{
  color: #FFFFFF
}

.box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
}

.box3 p {
  margin: 0; 
  padding: 0;
}

.description {
   
  }

  .parameters{
    color: #FFFFFF
    
    
  }

  .parameter_result{
    background-color:#CC3333;
    opacity:0.8;
    display:inline-block;
    color:white;
    border-radius:5px;
    line-height:0px;
    padding:0 3px;
    
  }
